<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **45 to 60** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [269]:
#!pip install pandas

### Step 1: Import Required Libraries

In [270]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

#### **Read Data**

If you are using JupyterLite, use the code below to download the dataset into your environment. If you are using a local environment, you can use the direct URL with <code>pd.read_csv()</code>.

In [271]:
"""from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

# Define the file path for the data
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Download the dataset
await download(file_path, "survey_data.csv")
file_name = "survey_data.csv"""

'from pyodide.http import pyfetch\n\nasync def download(url, filename):\n    response = await pyfetch(url)\n    if response.status == 200:\n        with open(filename, "wb") as f:\n            f.write(await response.bytes())\n\n# Define the file path for the data\nfile_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"\n\n# Download the dataset\nawait download(file_path, "survey_data.csv")\nfile_name = "survey_data.csv'

**Load the data into a pandas dataframe:**

In [272]:
#df = pd.read_csv(file_name)

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

##### df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

In [273]:
#df = df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")
#In my case, I prefer to download the file and then read it from the local file system
#This is so that I do not have to wait a long time for the file to be downloaded each time I run the code
import os
path = os.path.join(os.getcwd(), "survey_data.csv")
df = pd.read_csv(path)
print(df.shape)
df.head()

(65437, 114)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [274]:
# your code goes here
count = df.duplicated(subset = df.columns[1:]).sum()
print(f"Number of duplicate rows: {count}")
duplicates = df[df.duplicated(subset = df.columns[1:])]
duplicates.head()

Number of duplicate rows: 487

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
46264,46265,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46774,46775,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Professional development or self-paced l...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46921,46922,I am a developer by profession,18-24 years old,"Employed, full-time",In-person,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47073,47074,"I am not primarily a developer, but I write co...",25-34 years old,"Employed, full-time",In-person,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47340,47341,I code primarily as a hobby,Under 18 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [275]:
# your code goes here
df_unique = df.drop_duplicates(subset = df.columns[1:])
count = df_unique.duplicated(subset = df.columns[1:]).sum()
print(f"Number of duplicates after duplicates removal: {count}")

Number of duplicates after duplicates removal: 0

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [283]:
# your code goes here
df_unique = df.drop_duplicates(subset = df.columns[1:])
count = df_unique.duplicated(subset = df.columns[1:]).sum()
print(f"Number of duplicates after duplicates removal: {count}")

# your code goes here
#Fist I need to check for missing values, and then choose a column with the most significant missing values
missing_values = df_unique.isnull().sum().sort_values(ascending= False)
missing_values.name = "Missing Values"
print(missing_values,"\n==============================================\n")

most_missing_value_column = missing_values.index[0]
print(f"Column with significant missing values: {most_missing_value_column}\n==============================================\n")

#Now I have to find the most frequesnt value in this column
frequency = df_unique[most_missing_value_column].value_counts()
frequency.name = f"Frequency of missing values for column {most_missing_value_column}"

print(frequency,"\n==============================================\n")

'''#Now I have to select the most frequent value
frequent_value = frequency.index[0]
print(f"Most frequent value in the column: {missing_values.index[0]} is {frequent_value}\n==============================================\n")


#Now I have to replace the missing values with the most frequent value in the column
df_unique[most_missing_value_column]= df_unique[most_missing_value_column].fillna(frequent_value, inplace = True)
print(f"Number of missing values in the column {most_missing_value_column} after replacement: {df_unique[most_missing_value_column].isnull().sum()}")'''

#The above code does not work because there are columns that do not have non-null values at all
'''Here's a simple explanation

Imagine you have a basket of apples. If the basket has at least one apple, you can say which color appears the most (e.g., "Red apples are the most common"). 
But if the basket is empty, there's nothing to count, and you can't find a "most common apple."

The same thing happens in Python:

If a column has values, value_counts() will tell us the most frequent one.
If a column only has missing values (NaN), value_counts() returns an empty list (just like an empty basket).
Trying to pick a "most common value" from an empty list causes an error.
So, we check frequency.empty to make sure the basket isn’t empty before trying to find the most frequent item.'''
if not frequency.empty:
    frequent_value = frequency.index[0]
    print(f"Most frequent value in the column: {most_missing_value_column} is {frequent_value}\n==============================================\n")
    
    df_unique.loc[:, most_missing_value_column] = df_unique[most_missing_value_column].fillna(frequent_value)
    
    print(f"Number of missing values in the column {most_missing_value_column} after replacement: {df_unique[most_missing_value_column].isnull().sum()}")
else:
    print(f"No non-null values found in column {most_missing_value_column}. Cannot determine most frequent value.")

Number of duplicates after duplicates removal: 0
AINextMuch less integrated    63802
AINextLess integrated         62595
AINextNo change               52452
AINextMuch more integrated    51512
EmbeddedAdmired               48217
                              ...
MainBranch                        0
Check                             0
Employment                        0
Age                               0
ResponseId                        0
Name: Missing Values, Length: 114, dtype: int64
==============================================

Column with significant missing values: AINextMuch less integrated
==============================================

AINextMuch less integrated
Writing code                                                                                                                                                                                                                   154
Learning about a codebase                                                                                                                                                                                                       88
Search for answers                                                                                                                                                                                                              61
Debugging and getting help                                                                                                                                                                                                      45
Generating content or synthetic data                                                                                                                                                                                            43
                                                                                                                                                                                                                              ...
Learning about a codebase;Project planning;Writing code;Debugging and getting help;Committing and reviewing code;Generating content or synthetic data                                                                            1
Writing code;Documenting code;Testing code;Search for answers;Generating content or synthetic data                                                                                                                               1
Project planning;Writing code;Documenting code;Debugging and getting help;Testing code;Committing and reviewing code;Deployment and monitoring;Search for answers;Generating content or synthetic data                           1
Learning about a codebase;Project planning;Committing and reviewing code;Deployment and monitoring;Predictive analytics;Search for answers;Generating content or synthetic data                                                  1
Learning about a codebase;Project planning;Writing code;Documenting code;Debugging and getting help;Testing code;Committing and reviewing code;Predictive analytics;Search for answers;Generating content or synthetic data      1
Name: Frequency of missing values for column AINextMuch less integrated, Length: 286, dtype: int64
==============================================

Most frequent value in the column: AINextMuch less integrated is Writing code
==============================================

Number of missing values in the column AINextMuch less integrated after replacement: 0

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [277]:
# your code goes here
num_null_values = df_unique["ConvertedCompYearly"].isnull().sum()
print(f"Number of missing values in column ConvertedCompYearly: {num_null_values}\n==============================================\n")

if num_null_values > 0:
    #I'm will relace missing values with the median value
    median = df_unique["ConvertedCompYearly"].median()
    # df_unique.loc[:, most_missing_value_column] = df_unique[most_missing_value_column].fillna(frequent_value)
    df_unique.loc[:,"ConvertedCompYearly"] = df_unique["ConvertedCompYearly"].fillna(median)
    print("Missing values replaced with median")
else:
    print("There are no missing values")

Number of missing values in column ConvertedCompYearly: 41515
==============================================

Missing values replaced with median

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

- For further analysis, consider exploring other columns or visualizing the cleaned dataset.

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

## <h3 align="center"> © IBM Corporation. All rights reserved. <h3/>